.App {
  background-color: var(--Violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* opacity: 0.5; */
}


@media (min-width: 800px) {
  .App {
    height: 100vh;
    background-image: url("./images/bg-desktop.svg");
  }
}