html {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

body {
  margin: 0;
  /* background-image: url("./design/mobile-design.jpg"); */
  background-size: cover;
}

/* @media (min-width: 800px) {
  body {
    background-image: url("./design/desktop-design.jpg");
    background-image: url("./design/active-states.jpg");
  }
} */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}